*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive , Arial, sans-serif;
    margin: 0;
    padding: 20px;
    color: blueviolet;
    background: #e9e5e5 ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
}

img {
    width: 500px;
    height: auto;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 20px;
    animation: latido 1.5s infinite ease-in-out;
    }       
        
@keyframes latido {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.08);
        }
    }
/* ?? Fondo de corazones cayendo */
.loveRain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
    background: transparent;
    overflow: hidden;
    color: #555353;
}

.loveRain span {
    position: absolute;
    top: -100px;
    opacity: 0.5;
    animation: fall linear infinite;
    font-size: 2em;
}

@keyframes fall {
    to {
        transform: translateY(110vh) rotate(360deg);
    }
}
