@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rubik+Wet+Paint&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background-color: #000;
}
#particulas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
}
.img-contedor {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 0 80px 0;
}

.img-contedor h2 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 10px;
    background: linear-gradient(90deg, #00d4ff, #7b2ff7, #f107a3, #00d4ff) !important;
    background-size: 200% 200% !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background-clip: text !important;
    filter: drop-shadow(0 0 20px rgba(0, 191, 255, 0.6)) !important;
	text-align: center;
    font-family: 'Rubik Wet Paint', cursive;
}
.swiper {
    width: 100%;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 500px;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
@media(max-width: 800px) {
    body {
        min-height: 0vh;
    }
    .img-contedor {
        padding: 30px;
        margin-top: 50px;
    }
    .img-contedor h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }
}