/* Reset mejorado */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    margin: 0;
    overflow: hidden;
    background: #000;
    font-family: Arial, sans-serif;
    touch-action: none;
}

canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Modal de inicio con animación */
#modal-inicio {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: modalEntrada 0.8s ease-out forwards;
    backdrop-filter: blur(3px);
}

@keyframes modalEntrada {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Contenedor del contenido del modal */
#modal-inicio > div {
    text-align: center;
    padding: 2rem;
    border-radius: 20px;
    max-width: 90%;
}


/* Botón principal */
#btn-iniciar {
    font-size: 2rem;
    padding: 1em 2em;
    border-radius: 16px;
    color: #fff;
    cursor: pointer;

    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;

}
#btn-iniciar img {
    width: 100%;
    height: auto;
    transition: all 1.3s cubic-bezier(0.4, 0, 0.2, 1);
    animation: pulse 2s infinite, float 3s ease-in-out infinite;
}


